body{
align-items: center;
background-color: gray;
box-align: center;
text-align: center;
}
h1{
align-items: center;    
text-align: center;
font-size: 130px;
border-style: dashed;


}
input[type="text"] {
    width: 200px;
    height: 80px;
    font-size: 50px;
}
input[type="button"] {
    width: 150px;
    height: 80px;
}
p{
    font-size: 40px;
}
h2{
    font-size: 80px;
    position: relative;
}